@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  color: black;
}

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
}

.primary-color {
  background-color: #8976FD;
}

.yellow-bg {
  background-color: #FCA61F;
}

.text-color {
  color: #8976FD;
}

.text-primary {
  color: #332C5C;
}

.text-secondary {
  color: #494369
}

.text-third {
  color: #5E587A
}

.gradient-blue {
  position: absolute;
  width: 200px;
  height: 438px;
  opacity: 0.4;

  background: #6DCBFF;
  filter: blur(190px);
}

.gradient-purple {
  position: absolute;
  width: 200px;
  height: 438px;
  opacity: 0.4;

  background: #C06EF3;
  filter: blur(190px);
}

.gradient-yellow {
  position: absolute;
  width: 200px;
  height: 438px;
  opacity: 0.4;

  background: #FDBA09;
  filter: blur(190px);
}

.p-text {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.heading-text {
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.25rem;
}